<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Item List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <hr>
    <h1>My Shopping List</h1>
    <a href="{% url 'item-create' %}">Add an Item</a>

    <form method="get">
      <input type="text" name="search-area" value="{{search_input}}">
      <input type="submit" value="Search">
    </form>
    <table>
      <tr>
        <th>Item</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      {% for item in items %}
      <tr>
        <td>{{item.item_name}}</td>
        <td><a href="{% url 'item' item.id %}"><button style="font-size:24px"><i class="fa fa-eye"></i></button></a></td>
        <td><a href="{% url 'item-update' item.id %}">Edit</a></td>
        <td><a href="{% url 'item-delete' item.id %}">Delete</a></td>

      </tr>
      {% empty %}
        <h3>No items in list</h3>
      {% endfor %}
    </table>
  </body>
</html>
