<!-- Homepage of our web application -->
{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
  {% if request.user.is_authenticated %}
  <a id = "logout" href="{% url 'logout' %}">Logout</a>
  {% else %}
  <a href="{% url 'login' %}">Login</a>
  {% endif %}
  <div>
    <h1>Hello {{request.user|title}}</h1>
    <h4 style="margin:0">You are yet to buy <i style="font-size:150%">{{count}}</i> item{{count|pluralize:"s"}}. </h4>
  </div>
  <hr>
</div>


    <!-- <h1>My Shopping List</h1> -->

    <form method="get">
      <input class = "boxa" type="text" name="search-area" value="{{search_input}}">
      <input class="button" type="submit" value="Search">
    </form>
    <a href="{% url 'item-create' %}"><i style="font-size:150%" class="fa fa-plus" aria-hidden="true"></i></a>


    <table>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>

      </tr>
      {% for item in items %}
      <tr>
        {% if item.purchased %}
        <!-- Strike through if item purchased already. -->
          <td style="text-decoration:line-through"><a href="{% url 'item-update' item.id %}">{{item.item_name}}</a></td>
        {% else %}
          <td><a href="{% url 'item-update' item.id %}">{{item.item_name}}</a></td>
        {% endif %}
        <td></td>
        <td><a href="{% url 'item' item.id %}"><i class="fa fa-eye"></i></a></td>
        <td></td>
        <td></td>
        <td ><a href="{% url 'item-delete' item.id %}"><i class="fa fa-trash"></i></a></td>
        <td></td>

      </tr>
      {% empty %}
        <h3>No items in list</h3>
      {% endfor %}
    </table>
  {% endblock content %}
